body {
    padding: 0;
    margin: 0 auto;
    min-width: 1251px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Header CSS*/

header {
    background: url("../img/header-bg.png") no-repeat center top / cover;
    height: 651px;
    font-family: 'Kaushan Script', cursive;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    position: relative;
}

.p {
    display: inline-block;
    margin: 0;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    color: #0da9e5;
    box-shadow: 0px 4px rgba(13,169,229);
    z-index: 2;
}

.logo-shadow {
    display: inline-block;
    position: relative;
    top: 26px;
    left: 24px;
    height: 100px;
    width: 100px;
    background-color: #27b0e6;
    z-index: 0;
    }

.nav {
    float: right;
    vertical-align: middle;
    padding: 23px 0px;
    }

.nav li {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 2px;
    border-radius: 2px;
    }

.head-content {
    text-align: right;
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    margin-top: 45px;
}

.head-content span {
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

h1 {
    margin: 0px 0px 30px 0px;
    padding: 0;
    text-align: right;
    color: white;
    font-size: 70px;
    font-family: 'Kaushan Script', cursive;

}

.dl-btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 3px;
    text-decoration: none;
    font-style: normal;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 47px;
    padding: 19px 15px;
    text-align: center;
}

.iphone {
    position: absolute;
    top: 383px;
    left: 231px;
    z-index: 1;
}

/* "Ipad" section CSS*/

.yellow {
    position: relative;
    background-color: #f4f4f4;
    z-index: 2;
    height: 651px;
}

h2 {
    font-weight: 100;
    padding: 0;
    margin-top: 150px;
    font-size: 40px;
}

.yel-con {
    position: absolute;
    float: left; 
    width: 600px;
    font-size: 15px;
}

.yel-ipad {
    float: right;
    position: relative;
    top: 150px;
    right: -160px;
}

.q-bord {
    float: left;
    display: inline-block;
    width: 6px;
    height: 68px;
    background-color: #4eacdd;
}

.q-text {
    margin-left: 20px;
    font-style: italic;
    }

.hello-btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    box-sizing: border-box;
    border: 3px solid #14af8f;
    border-radius: 3px;
    text-decoration: none;
    font-style: normal;
    color: #14af8f;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 47px;
    padding: 17px 15px;
    text-align: center;
}

/* "Devices" section CSS*/

.devices {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    z-index: 2;
    height: 651px;
}

.dev-screens {
    position: relative;
    width: 760px;
    height: 370px;
    top: 285px;
    left: -100px;
    z-index: 1;
}

.dev-con {
    position: absolute;
    width: 400px;
    font-size: 15px;
    top: 0px;
    right: -100px;
}

.p-bold {
    font-weight: bold;
    font-style: italic
}


.view-btn {
    display: inline-block;
    width: 220px;
    height: 58px;
    box-sizing: border-box;
    border: 3px solid #ea4c89;
    border-radius: 3px;
    text-decoration: none;
    color: #ea4c89;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 47px;
    padding: 18px 0px;
    text-align: center;
}

/* "Like" section CSS*/


.like {
    position: relative;
    margin: 0;
    padding: 0;
    background: url("../img/like-bg.png") no-repeat center top / cover;
    height: 355px;
    text-align: center;
    z-index: 2;
}

.like h2 {
    position: relative;
    top: 100px;
    color: white;
    margin-top: 0px;
}

.beer-btn {
    display: inline-block;
    width: 220px;
    height: 58px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 107px;
    padding: 18px 0px;
    text-align: center;
}

.beer-btn span {
    font-style: italic;
    font-weight: bold;
}

/* "Social" section CSS*/

.social {
    position: relative;
    background-color: #f4f4f4;
    z-index: 2;
    height: 651px;
    text-align: center;
}

.soc-btns ul {
    margin-top: 0px;
}

.soc-btns li {
    margin-top: 240px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 70px;
}

.soc-btns li a {
    display: table-cell;
    text-align: center;
    color: #545454;
    width: 55px;
    height: 60px;
    vertical-align: middle;
    border: 3px solid #545454;
    border-radius: 50%;
}

label {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

input[type=email] {
    width: 220px; 
    height: 45px;
    box-sizing: border-box;
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/hello-btn-icon.png');
    background-position: 190px 15px; 
    background-repeat: no-repeat;
    padding: 10px;
}

input::placeholder {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

input[type=email]:focus {
    outline: 0;
    background: #fff;
}